body {
    font-family: "Montserrat", sans-serif;
}

header {
    background: #161426;
}

header img{
    width: 100px;
    margin: 10px;
}

.caixa {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}

.cabeca{ 
    margin-top: 10px; 
    width: 100%; 
    height: 500px; 
}

nav {
    margin-top: 1%;
    position: absolute;
    top: 20px;
    left: 190px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; 
} 

nav a:hover {
    color: #D9D2B0;
}

h1{
    text-align: center;
}

hr{
    width: 93%;
}

.produtos{
    margin-bottom: 5%;
    margin-left: 8%;
    padding: 20px;  
    font-size: 14px;
    display: inline-block;
    background-color: rgb(248,248,248);
}

.produtos img{
    opacity: 85%;
    width: 200px;
    max-height: 400px;
}

.produtos img:hover{
    opacity: 100%;
}

.produtos a{
    color: black;
    text-decoration: none;
}

.produtos h2{
    max-width: 300px;
}

.produtos .diferentao img{
    height: 303px;
}

footer {
    margin-top: 0%;
    width: 100%;
    min-height: 5%;
    background: #161426;
    display: flex;
}

footer .caixa-rodape {
    margin-top: 1%;
    width: 320px;
    min-height: 150px;
}

footer .caixa-rodape h2 {
    color: #fff;
    margin-bottom: 20px;
}

.caixa-rodape ul li {
    list-style: none;
    margin-top: 1%;
    margin-left: -10%;
    text-align: center;
}

.caixa-rodape ul li a {
    color: #D9D2B0;
    text-decoration: none;
}

.caixa-rodape ul li a:hover {
    color: #a29d7f;
}

.caixa-rodape h2{
    margin-left: 90px;
}

.caixa-rodape p {
    color: #fff;
    text-align: justify;
}

/*
#161426
#08070D
#D9D2B0
#A6926D
#735340
*/

/*Reviews*/
.review-direita{
    display: inline-block;
    margin-bottom: 5%;
}

.review-direita img{
    float: left;
    margin-right: 2%;
}

.review-esquerda{
    display: inline-block;
    margin-bottom: 5%;
}

.review-esquerda img{
    float: right;
    margin-left: 2%;
}

.review-direita h2{
    text-align: end;
}

.review-direita h2 a{
    text-decoration: none;
    color: black;
}

.review-esquerda h2 a{
    text-decoration: none;
    color: black;
}

.review-direita p{
    text-align: justify;
}

.review-esquerda p{
    text-align: justify;
}